@font-face{
    font-family: Textura-Libera-Black;
    src: url("../fonts/TexturaLiberaX-Black.otf");
}

@font-face{
    font-family: Textura-Libera-Condensed-Thin;
    src: url("../fonts/TexturaLiberaC-Thin.otf");
}

@font-face{
    font-family: IM-Fell-Eng;
    src: url("../fonts/IMFeENrm29C.otf");
}

@font-face{
    font-family: IBM-3270;
    src: url("../fonts/3270-Regular.otf") format("opentype"),
         url("../fonts/3270-Regular.svg#3270") format("svg"),
         url("../fonts/3270-Regular.ttf") format("truetype"),
         url("../fonts/3270-Regular.woff") format("woff");
}

hr{
    color: #E60073;
}

body{
    background: #000000;
    font-family: IBM-3270;
    color: #E60073;
    max-width: 900px;
    margin: auto;
}

a{
    text-decoration: none;
    color: #D15CFF;
}

a:hover {
    padding: 1px;
    border: 1px solid #e60073;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}

h1 {
    line-height: 10px;
    color: #e60073;    
}

h2,
h3,
h4,
h5,
h6{
    color: #e60073;
}

pre{
    background: black;
}

.src .example{
    background: black;
}

.title{
    font-family: Textura-Libera-Black;
    font-size: 70px;
/*    padding-bottom: 50px; */
    text-align: left;
    line-height: 1;
}

.subtitle {
    font-family: "Textura-Libera-Condensed-Thin";
    text-align: left;
    font-size: 30px;
    padding-bottom: 10px;
}

.header{
    line-height: 1em;
    display: flex;
    flex-flow: row;
}

.header .header-heading{
    padding-bottom: 1px;
    font-size: 120px;
    color: #E60073;
    font-family: Textura-Libera-Black;
}

.header .header-subheading{
    color: #E60073;
    font-family: Textura-Libera-Condensed-Thin;
}

.header-subheading {
    margin-top: 0;
    margin-bottom: 0;
}

.site-title {
    display: flex;
    flex-flow: column;
}

.site-logo {
    display: flex;
    margin-left: auto;
    align-items: center;
    text-align: right;
    font-size: 13px;
}

@media (max-width: 800px) {
    .header {
        flex-flow: column;
    }
}

.wrapper {
    display: flex;
    flex-flow: column;
    height: 72vh;
}

.footer{
    display: flex;
    flex-flow: column;
    text-align: left;
    align-items: center;
    margin: auto auto 0 auto;
}

.footer .footer-meta{
    position: fixed;
    font-size: 13px;
    bottom: 5%;
}

.footer .footer-img{
    position: fixed;
    bottom: 0%;
}

.content {
    font-family: IM-Fell-Eng;
    font-size: 1.2em;
    color: #e371a4;
}

#preamble {
    padding-bottom: 10px;
}

#logo {
    height: 130px;
    width: 130px;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

#syzygy {
    height: 10vh;
    width: 20vw;
    min-height: 80px;
    min-width: 160px;
    margin: auto;
}
