
@font-face {
    font-family: "Textura-Libera-Black";
    src: url("../fonts/TexturaLiberaX-Black.otf");
}


@font-face {

    font-family: "Textura-Libera-Condensed-Thin";
    src: url("../fonts/TexturaLiberaC-Thin.otf");

}

@font-face {
    font-family: "IBM-3270";
    src: url("../fonts/3270-Regular.otf");
}

.blackletter {
    font-family: "Textura-Libera-Black";
}

.blackletter-thin {
    font-family: "Textura-Libera-Condensed-Thin";
}

.3270 {
    font-family: "IBM-3270";
}

.theme-color {
    color: #e60073;
}

.header {
    line-height: 2.5em;
}

.comments {
    padding: 10px;
}

.org-ul {
    list-style-type: none;
    padding-top: 10px;
    padding-left: 20px;
}

body {
    background: black;
    font-family: "IBM-3270";
    color: #e60073;
    max-width: 900px;
}

h1, h2, h3, h4, h5, h6{
  line-height: 10px;
}

hr {
    color: #e60073;
}

a {
    text-decoration: none;
    color: #D15CFF;
}

pre {
    background-color: #000000;
}

aside:before {
    white-space: pre;
    font-size: 26px;
    font-weight: bold;
    content: "Achtung!\A";
}

aside {
    background-color: #2C111F;
    border: 1px solid;
    padding: 5px;
    border-color: #e60073;
}

.title {
    font-family: "Textura-Libera-Black";
    font-size: 70px;
    text-align: left;
    line-height: 1;
}

.subtitle {
    font-family: "Textura-Libera-Condensed-Thin";
    text-align: left;
    font-size: 30px;
    padding-bottom: 10px;
}
